<Div>
    <h2>Add entry</h2>
    <input ng-model="vm.new.lineItem" placeholder="New Line Item">
    <input ng-model="vm.new.description" placeholder="What did you do?">
    <select ng-model="vm.new.project">
        <option value="" disabled>Select project</option>
        <option ng-repeat="project in vm.projects.projectsArray" ng-value="project.name">{{project.name}}</option>
    </select>
    <input ng-model="vm.new.date" type="date">
    <input ng-model="vm.new.startTime" type="time">
    <input ng-model="vm.new.endTime" type="time">
    <button ng-click="vm.newEntry(vm.new)">Submit</button>
</Div>

<Div>
    <h2>History</h2>
    <div>
        <table>
            <thead>
                <tr>
                    <td>Line Item</td>
                    <td>Description</td>
                    <td>Project</td>
                    <td>Date</td>
                    <td>Hours</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in vm.entries.entriesArray">
                    <td>
                        <input ng-model="entry.line_item">
                    </td>
                    <td>
                        <input ng-model="entry.description">
                    </td>
                    <td>
                        <input ng-model="entry.project">
                    </td>
                    <td>
                        <input ng-model="entry.date">
                    </td>
                    <td>
                        <input ng-model="entry.hours">
                    </td>
                    <td>
                        <button ng-click="vm.deleteEntry(entry)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</Div>